
#map{
	height: 100vh;

}

.wrapper{
	// position:fixed;
	float:left;
	background-color: #001f3f;
	height: 100vh;
	width:30%;

}

.navbar{
	background-color: white;
	height: 10vh;
	margin: 20px auto;
	width: 90%;
	border-radius: 5px;
}

.selectify{
	background-color: white;
	height: 30vh;
	margin: 20px auto;
	width: 90%;
	border-radius: 5px;
}


.day_plan{
	background-color: white;
	height: 40vh;
	margin: 20px auto;
	width: 90%;
	border-radius: 5px;
}

